    <header class="secondHeader allContainer">
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/5226/5226139.png"
            width="40px" height="40px" alt="Maxel-logo.png">
            <h2 class="fontSizeMediumTitle">Paxel</h2>
        </div>

        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search for images">
            <input type="submit" value="Search">
        </form>

        <div class="links">
              <div class="linkes">
            <a href="#">Explore <i class="fa fa-arrow-circle-o-down"></i></a>
            <a href="#">License</a>
            <a href="#" class="activeBtn">Join</a>
              </div>
        </div>
    </header>