<header class="topHeader allContainer">
    <!-- LOGO  -->
    <div class="logo">
        <a href="/index"><img src="https://cdn-icons-png.flaticon.com/512/5226/5226139.png"
            width="40px" height="40px" alt="Maxel-logo.png"></a>
        <a href="/index"><h2 class="fontSizeMediumTitle">Paxel</h2></a>
    </div>
    <!-- links -->
    
    <div class="links">
      <div class="wheater_status">
        <img src="images/drizzle.png" alt="" class="updateImg_btn_two" width="30px">
        <i  class="locationtwo fa fa-location-arrow " ></i>
      </div>
      <div class="linkes">
        <a href="#show_image">Explore <i class="fa fa-arrow-circle-o-down"></i></a>
        <a href="/about">About</a>
        <a href="/services" class="activeBtn">Services</a>
      </div>
      <div class="drop_down_for_tablets_phones">
        <button onclick="showDrop()"><i class="fa fa-bars"></i></button>
        <div class="dropNav">
          <a href="/index">Home</a>
          <a href="/about" class="to_hide">About</a>
          <a href="/services">Services</a>
          <a href="#" class="active_drop_btn">Join</a>

          <div class="dropNav_socials">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    
</header>